/*  your css code here. If applicable */
.container{
	height: 520px;
	width:370px;
	background-color: whitesmoke;
	margin:auto;
	text-align:center;
	padding:40px 35px 0px 35px;
}

img{
	height:200px;
}

button{
	padding:15px;
	font-size:25px;
	background-color:red;
	color:white;
	border:none;
	border-radius:8px;
}